body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #eaf7ff;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px;
    background-color: #d3f1ff;
    border-top: 1px solid #ccc;
    margin-bottom:10px;
  }
  
  .footer-section {
    width: 24%;
    text-align: center;
    position: relative;
    font-size: 12px;
  }
  .footer-section h4{
    margin-top:20px;
  }
  
  .brand {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .footer-button {
    background-color:rgb(86, 44, 32);
    color:white;
    border: none;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .footer-button:hover {
    background-color: rgb(86, 44, 32);
  }
  
  h4 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
  }
  
  ul li {
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #333;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  
  address {
    font-style: normal;
    line-height: 1.5;
    font-size: 12px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1.5vh;
  }
  
  .social-icons a {
    text-decoration: none;
    font-size: 11px;
    color: #333;
  }
  
  .social-icons a:hover {
    text-decoration: underline;
  }
  .brand{
    margin-top:25px;
    font-size: 15px;
  }
  